In [486]:
import pandas as pd
import numpy as np

df = pd.read_excel("Air_Quality_Changes_in_The_US.xlsx")

In [487]:
df

,CBSA,Core Based Statistical Area,Pollutant,Trend Statistic,Number of Trend Sites,1990,1991,1992,1993,1994,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,10420,"Akron, OH",O3,4th Max,2,0.090,0.101,0.087,0.093,0.086,...,0.059,0.060,0.065,0.060,0.066,0.068,0.062,0.063,0.067,0.070
1,10420,NaN,PM2.5,Weighted Annual Mean,3,NaN,NaN,NaN,NaN,NaN,...,9.700,9.900,10.400,8.200,7.900,7.900,8.200,7.900,8.000,7.100
2,10420,NaN,PM2.5,98th Percentile,3,NaN,NaN,NaN,NaN,NaN,...,24.000,22.000,23.000,17.000,18.000,18.000,21.000,21.000,20.000,17.000
3,10420,NaN,SO2,99th Percentile,1,161.000,183.000,181.000,209.000,132.000,...,23.000,21.000,14.000,8.000,3.000,6.000,3.000,4.000,5.000,6.000
4,10500,"Albany, GA",PM2.5,Weighted Annual Mean,1,NaN,NaN,NaN,NaN,NaN,...,10.000,10.300,9.000,8.700,9.400,8.400,9.300,9.100,10.100,8.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,49700,"Yuba City, CA",NO2,Annual Mean,1,17.000,17.000,17.000,17.000,16.000,...,10.000,8.000,7.000,7.000,7.000,7.000,6.000,6.000,5.000,7.000
821,49700,NaN,NO2,98th Percentile,1,70.000,70.000,70.000,70.000,65.000,...,52.000,44.000,39.000,40.000,42.000,41.000,40.000,38.000,34.000,37.000
822,49700,NaN,O3,4th Max,1,0.076,0.080,0.090,0.078,0.089,...,0.060,0.069,0.064,0.063,0.067,0.065,0.061,0.066,0.072,0.058
823,49700,NaN,PM2.5,Weighted Annual Mean,1,NaN,NaN,NaN,NaN,NaN,...,8.200,9.400,9.600,8.100,9.300,10.300,8.400,16.400,14.500,10.700
824,49700,NaN,PM2.5,98th Percentile,1,NaN,NaN,NaN,NaN,NaN,...,25.000,25.000,31.000,22.000,32.000,37.000,27.000,91.000,45.000,28.000

In [488]:
df.head()

,CBSA,Core Based Statistical Area,Pollutant,Trend Statistic,Number of Trend Sites,1990,1991,1992,1993,1994,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,10420,"Akron, OH",O3,4th Max,2,0.09,0.101,0.087,0.093,0.086,...,0.059,0.06,0.065,0.06,0.066,0.068,0.062,0.063,0.067,0.07
1,10420,NaN,PM2.5,Weighted Annual Mean,3,NaN,NaN,NaN,NaN,NaN,...,9.700,9.90,10.400,8.20,7.900,7.900,8.200,7.900,8.000,7.10
2,10420,NaN,PM2.5,98th Percentile,3,NaN,NaN,NaN,NaN,NaN,...,24.000,22.00,23.000,17.00,18.000,18.000,21.000,21.000,20.000,17.00
3,10420,NaN,SO2,99th Percentile,1,161.00,183.000,181.000,209.000,132.000,...,23.000,21.00,14.000,8.00,3.000,6.000,3.000,4.000,5.000,6.00
4,10500,"Albany, GA",PM2.5,Weighted Annual Mean,1,NaN,NaN,NaN,NaN,NaN,...,10.000,10.30,9.000,8.70,9.400,8.400,9.300,9.100,10.100,8.30

In [489]:
df.tail()

,CBSA,Core Based Statistical Area,Pollutant,Trend Statistic,Number of Trend Sites,1990,1991,1992,1993,1994,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
820,49700,"Yuba City, CA",NO2,Annual Mean,1,17.000,17.00,17.00,17.000,16.000,...,10.00,8.000,7.000,7.000,7.000,7.000,6.000,6.000,5.000,7.000
821,49700,NaN,NO2,98th Percentile,1,70.000,70.00,70.00,70.000,65.000,...,52.00,44.000,39.000,40.000,42.000,41.000,40.000,38.000,34.000,37.000
822,49700,NaN,O3,4th Max,1,0.076,0.08,0.09,0.078,0.089,...,0.06,0.069,0.064,0.063,0.067,0.065,0.061,0.066,0.072,0.058
823,49700,NaN,PM2.5,Weighted Annual Mean,1,NaN,NaN,NaN,NaN,NaN,...,8.20,9.400,9.600,8.100,9.300,10.300,8.400,16.400,14.500,10.700
824,49700,NaN,PM2.5,98th Percentile,1,NaN,NaN,NaN,NaN,NaN,...,25.00,25.000,31.000,22.000,32.000,37.000,27.000,91.000,45.000,28.000

In [490]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CBSA                         825 non-null    int64
 1   Core Based Statistical Area  279 non-null    object
 2   Pollutant                    825 non-null    object
 3   Trend Statistic              825 non-null    object
 4   Number of Trend Sites        825 non-null    int64
 5   1990                         435 non-null    float64
 6   1991                         435 non-null    float64
 7   1992                         435 non-null    float64
 8   1993                         435 non-null    float64
 9   1994                         435 non-null    float64
 10  1995                         435 non-null    float64
 11  1996                         435 non-null    float64
 12  1997                         435 non-null    float64
 13  1998                         435 non-null    float64
 14  1999                         435 non-null    float64
 15  2000                         825 non-null    float64
 16  2001                         825 non-null    float64
 17  2002                         825 non-null    float64
 18  2003                         825 non-null    float64
 19  2004                         825 non-null    float64
 20  2005                         825 non-null    float64
 21  2006                         825 non-null    float64
 22  2007                         825 non-null    float64
 23  2008                         825 non-null    float64
 24  2009                         825 non-null    float64
 25  2010                         825 non-null    float64
 26  2011                         825 non-null    float64
 27  2012                         825 non-null    float64
 28  2013                         825 non-null    float64
 29  2014                         825 non-null    float64
 30  2015                         825 non-null    float64
 31  2016                         825 non-null    float64
 32  2017                         825 non-null    float64
 33  2018                         825 non-null    float64
 34  2019                         825 non-null    float64
 35  2020                         825 non-null    float64
 36  2021                         825 non-null    float64
 37  2022                         825 non-null    float64
dtypes: float64(33), int64(2), object(3)
memory usage: 245.0+ KB

In [491]:
df.describe()

,CBSA,Number of Trend Sites,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,825.000000,825.000000,435.000000,435.000000,435.000000,435.000000,435.000000,435.000000,435.000000,435.000000,...,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000
mean,30450.048485,1.815758,35.421317,34.893938,33.326637,31.945421,31.519699,28.194032,26.212821,26.249244,...,15.419313,14.976920,14.132416,12.641799,13.362716,14.301242,12.058520,14.611256,13.958032,13.159361
std,11754.076622,1.656114,58.457105,57.778307,56.256311,52.228817,49.852901,43.570414,40.915698,41.208988,...,20.056812,17.956395,16.157210,14.774772,17.117358,21.134204,13.702016,24.566241,17.929955,20.030472
min,10420.000000,1.000000,0.000000,0.009000,0.013000,0.007000,0.021000,0.026000,0.011000,0.000000,...,0.043000,0.040000,0.020000,0.000000,0.020000,0.010000,0.010000,0.020000,0.010000,0.010000
25%,19740.000000,1.000000,0.082000,0.082000,0.078000,0.080000,0.081500,0.086000,0.081000,0.082000,...,0.092000,0.091000,0.095000,0.090000,0.099000,0.097000,0.150000,0.120000,0.094000,0.091000
50%,30780.000000,1.000000,4.400000,4.200000,3.800000,4.100000,4.000000,3.400000,3.500000,3.100000,...,9.400000,9.500000,9.000000,8.100000,8.000000,8.000000,7.900000,7.900000,8.400000,7.900000
75%,40860.000000,2.000000,60.500000,59.000000,57.000000,55.500000,56.000000,51.000000,49.000000,45.500000,...,21.000000,21.000000,21.000000,18.000000,18.000000,19.000000,18.000000,18.000000,20.000000,18.000000
max,49700.000000,13.000000,363.000000,338.000000,391.000000,349.000000,303.000000,295.000000,289.000000,309.000000,...,228.000000,137.800000,142.000000,117.000000,173.000000,213.400000,97.000000,423.000000,145.800000,350.000000

In [492]:
df.isnull().sum()

CBSA                             0
Core Based Statistical Area    546
Pollutant                        0
Trend Statistic                  0
Number of Trend Sites            0
1990                           390
1991                           390
1992                           390
1993                           390
1994                           390
1995                           390
1996                           390
1997                           390
1998                           390
1999                           390
2000                             0
2001                             0
2002                             0
2003                             0
2004                             0
2005                             0
2006                             0
2007                             0
2008                             0
2009                             0
2010                             0
2011                             0
2012                             0
2013                             0
2014                             0
2015                             0
2016                             0
2017                             0
2018                             0
2019                             0
2020                             0
2021                             0
2022                             0
dtype: int64

In [493]:
df_train = df.copy().drop(columns=['CBSA','Core Based Statistical Area','Number of Trend Sites'],axis = 1)

In [494]:
df_train

,Pollutant,Trend Statistic,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,O3,4th Max,0.090,0.101,0.087,0.093,0.086,0.092,0.091,0.087,...,0.059,0.060,0.065,0.060,0.066,0.068,0.062,0.063,0.067,0.070
1,PM2.5,Weighted Annual Mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.700,9.900,10.400,8.200,7.900,7.900,8.200,7.900,8.000,7.100
2,PM2.5,98th Percentile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.000,22.000,23.000,17.000,18.000,18.000,21.000,21.000,20.000,17.000
3,SO2,99th Percentile,161.000,183.000,181.000,209.000,132.000,123.000,133.000,155.000,...,23.000,21.000,14.000,8.000,3.000,6.000,3.000,4.000,5.000,6.000
4,PM2.5,Weighted Annual Mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.000,10.300,9.000,8.700,9.400,8.400,9.300,9.100,10.100,8.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,NO2,Annual Mean,17.000,17.000,17.000,17.000,16.000,13.000,12.000,14.000,...,10.000,8.000,7.000,7.000,7.000,7.000,6.000,6.000,5.000,7.000
821,NO2,98th Percentile,70.000,70.000,70.000,70.000,65.000,66.000,61.000,61.000,...,52.000,44.000,39.000,40.000,42.000,41.000,40.000,38.000,34.000,37.000
822,O3,4th Max,0.076,0.080,0.090,0.078,0.089,0.085,0.085,0.072,...,0.060,0.069,0.064,0.063,0.067,0.065,0.061,0.066,0.072,0.058
823,PM2.5,Weighted Annual Mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.200,9.400,9.600,8.100,9.300,10.300,8.400,16.400,14.500,10.700
824,PM2.5,98th Percentile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.000,25.000,31.000,22.000,32.000,37.000,27.000,91.000,45.000,28.000

In [495]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()

df_train['Pollutant'] = label.fit_transform(df_train['Pollutant'])

df_train['Trend Statistic'] = label.fit_transform(df_train['Trend Statistic'])

In [496]:
for i in range(825):
    df_train['Pollutant Trend Statistic'] = df_train['Pollutant']*10 + df_train['Trend Statistic']

In [497]:
df_train = df_train.drop(columns=['Pollutant','Trend Statistic'],axis=1)

In [498]:
import warnings
warnings.filterwarnings("ignore")
sum, count = 0,0

for year in range(1990, 2000):
    for pollutant in set(df_train['Pollutant Trend Statistic']):
        for indice in range(825):
            if(pollutant == (df_train['Pollutant Trend Statistic'][indice]) and not pd.isna(df_train[year][indice])):
                count += 1
                sum += df_train[year][indice] 
        avg = sum/count
        for indice in range(825):
            if(pollutant == df_train['Pollutant Trend Statistic'][indice]):
                df_train[year][indice] = avg

In [499]:
set(df_train['Pollutant Trend Statistic'])

{0, 12, 14, 21, 30, 42, 46, 55, 63}

In [500]:
df_train.columns = df_train.columns.astype(str)

In [501]:
df_train.shape

(825, 34)

In [502]:
x_train = df_train.iloc[:, [0, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]
x_test = df_train.iloc[:, [0, -1, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]]

y_train = df_train.iloc[:, [16]]
y_test = df_train.iloc[:, [32]]

In [503]:
x_train = np.asarray(x_train)
x_test = np.asarray(x_test)

y_train = np.asarray(y_train)
y_test = np.asarray(y_test)

In [504]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(x_train,y_train)

LinearRegression()

In [505]:
y_pred = model.predict(x_test)

In [508]:
from sklearn.metrics import mean_squared_error

print(mean_squared_error(y_pred,y_test))

2495492.012889132